<div id="page-container">
  <h1 class="new-item">Edit your auction here:</h1><br>
  <% if @errors %>
  <ul>
  <% @errors.each do |error| %>

    <li><%= error %></li>
    
    <% end %>
  </ul>
  <% end %>

  <form class="edit-auction-form" action="/auctions/<%=params[:id]%>" method="post">
   <input type="hidden" name="_method" value="patch">
    <table class="edit-auction-form">
      <tr>
        <td><label for="auction[title]">auction Name:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="auction[title]" type="text" value="<%=@auction.title%>"></td>
      </tr>
      <tr>
        <td><label for="auction[description]">auction Description:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><textarea name="auction[description]" type="text"><%=@auction.description%></textarea></td>
      </tr>
      <tr>
        <td><label for="auction[price]">Starting Price:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>$<input name="auction[price]" type="number" step="any" value="<%=@auction.price%>"></td>
      </tr>
      <tr>
        <td><label for="auction[start_time]">Starting Time:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="auction[start_time]" type="datetime-local" value="<%=@auction.start_time.to_datetime.to_s.slice(0,19)%>"></td>
      </tr>
      <tr>
        <td><label for="auction[end_time]">Ending Time:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="auction[end_time]" type="datetime-local" value="<%=@auction.end_time.to_datetime.to_s.slice(0,19)%>"></td>
      </tr>
    
    </table>
      <br><input class="button" type="submit" value="Update auction!">
  </form>
</div>